<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white"> Welcome <%= current_user.name %></h4>
          <p class="text-white"> Welcome to the SekuLab CTF. It is a collection of Vulnerable Linux and Windows machines that youre free to break and hack in. </p>
          <p class="text-white"> Want to submit your machine to us? Email us at ctf@sekulabcybersecurity.com </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white"> Menu </h4>
          <ul class="list-unstyled">
            <li><a href="/home" class="text-white">Back to Home</a></li>
            <li><a href="/sekulab" class="text-white"> SekuLab Challenge Room</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong> SekuLab CTF  </strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron-album text-center bg-primary">
    <div class="container">
      <h1 class = "text-white text-bold"> SekuLab CTF </h1>
      <p class="lead text-white">We prepared nine machines, made with predefined vulnerabilities for you to exploit with. All you need is to get the user and root.txt.  Over time, we add new machines to play on. Special thanks to VulnHub for the custom Linux and Windows images.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
         <%= render "machine/machine" %>
      </div>
    </div>
  </div>

</main>

<%= render 'layouts/footer' %>


