<body class="text-center coverbody">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">SekuLab</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/home">Home</a>
        <a class="nav-link active" href="/challenges">SekuLabs</a>
        <a class="nav-link active" href="https://vulnhub.com">Vulnhub</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Are You Ready for the Challenge?</h1>
    <p class="lead"> Cybersecurity is one of the fastest and highest paying careers today. Ready for a full career shift? Learn with us today. </p>
    <p class="lead">
      <a href="/users/sign_in" class="btn btn-lg btn-primary text-white">Break in!</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p class="text-white">Copyright: 2020-2021 SekuLab Inc <a class="text-white" href="#"> SekuLab Cybersecurity Inc.</a>, by <a class="text-white" href="#"> SekuLabs </a>.</p>
    </div>
  </footer>
</div>


    
</body>
