<body class="jumbotron d-flex align-items-center min-vh-100">
<div class="container bg-white">
<br><br>Name: <%= current_user.name %></br>
Email: <%= current_user.email %></br>
Level: <%= current_user.level %></br>
Current Points: <%= current_user.user_points %></br>
</div>
</body>
