<footer class="text-white bg-dark">
  <div class="container">
    <p class="float-right">
      <a class="btn btn-primary text-white" href="#">Back to top</a>
    </p>
    <p> SekuLab CTF  &copy; SekuLab, SekuLab Cybersecurity Inc. 2020-2021 </p>
  </div>
</footer>
