<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
   <a class="navbar-brand" href="/home">SekuLab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/ctf"> Labs </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/sekulab"> Challenge Room </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="users/edit" tabindex="-1" aria-disabled="true">Welcome <%= current_user.name %> </a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <%= link_to('Logout', destroy_user_session_path, method: :delete, data: {confirm: 'Are you sure to logout?'}, class: "btn btn-danger text-white") %>
      </form>
    </div>
</nav>
